.global_wrap {
  min-width: 1170px;
}
.global_wrap .container {
  min-width: 1170px !important;
}
html,
body {
  height: 100%;
}
.global_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.page_wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
body {
  background-color: #F1EFEB;
}
.page_wrap {
  padding: 20px 0;
}
label {
  margin-bottom: 0;
}
.i_enter {
  background-image: url(../style_guide/img/i_key_brand.svg);
}
.header_top_line_wrap {
  background-color: #fff;
}
.header_top_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 0;
  margin-bottom: 2px;
}
.header_top_line_logo {
  display: block;
  background-image: url(../img/design/logo_bbd.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  height: 25px;
}
.header_top_line_phone {
  font-size: 16px;
  font-family: 'LatoWebBold';
}
.header_top_line_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_top_line_nav a {
  margin: 0 8px;
}
.i_pink_key {
  background-image: url(../style_guide/img/i_key_brand.svg);
}
.header_top_line_basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #d2145a;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding: 6px 20px;
  color: #333333;
}
.header_top_line_basket:hover {
  text-decoration: none;
  color: inherit;
}
.header_top_line_basket span {
  display: block;
}
.header_top_line_basket_i {
  display: block;
  background-image: url(../img/design/i_header_top_line_basket.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.header_top_line_basket_total_gds {
  font-size: 12px;
  color: #333333;
  margin-bottom: -5px;
}
.header_top_line_basket_total_price {
  font-size: 14px;
  color: #d2145a;
  font-family: 'LatoWebBold';
}
.nav_wrap {
  background-color: #F8F8F8;
}
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
nav ul li a {
  font-family: 'LatoWebBold';
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.6px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  padding: 16px 0 16px 0;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #d2145a;
  text-decoration: none;
  -webkit-box-shadow: inset 0 -4px 0 #d2145a;
  box-shadow: inset 0 -4px 0 #d2145a;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
nav ul li a:focus {
  text-decoration: none;
  color: #333333;
}
nav ul li .nav_active {
  color: #d2145a;
  -webkit-box-shadow: inset 0 -4px 0 #d2145a;
  box-shadow: inset 0 -4px 0 #d2145a;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
.special_nav_item {
  background-color: rgba(255, 230, 0, 0.5);
  padding: 12px 19px 12px 16px;
}
.special_nav_item_i {
  background-image: url(../img/design/i_special_nav_item.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.search_wrap {
  margin-bottom: 20px;
}
.main_search {
  width: 100%;
  padding: 12px 16px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  color: #9b9b9b;
  background-image: url(../img/design/i_main_search.svg);
  background-position: center right 16px;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main_search:focus {
  background-position: center right -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main_search::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main_search:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.side_nav_static {
  margin-left: -20px;
}
.side_nav_static_item {
  color: #333333;
  padding-left: 20px;
  margin-bottom: 12px;
  display: block;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
.side_nav_static_item:hover {
  color: #d2145a;
  text-decoration: none;
  -webkit-box-shadow: inset 4px 0px 0 #d2145a;
  box-shadow: inset 4px 0px 0 #d2145a;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
}
.side_nav_static ul li:last-child .side_nav_static_item {
  margin-bottom: 0;
}
.side_nav_static_item_active {
  -webkit-box-shadow: inset 4px 0px 0 #d2145a;
  box-shadow: inset 4px 0px 0 #d2145a;
  font-family: 'LatoWebBold';
}
/*** Custom styles  ***/
.side_nav_dynamic_list,
.side_nav_dynamic_list * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.side_nav_dynamic_list ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
.side_nav_dynamic_list > li {
  float: left;
}
.side_nav_dynamic_list li:hover > ul,
.side_nav_dynamic_list li.sfHover > ul {
  display: block;
}
.side_nav_dynamic_list a {
  display: block;
  position: relative;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333333;
}
.side_nav_dynamic_list ul ul {
  top: 0;
  left: 100%;
}
.side_nav_dynamic_list {
  position: relative;
}
.side_nav_dynamic_list ul {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.side_nav_dynamic .sf-arrows .sf-with-ul:after {
  content: ' ';
  background-image: url(../style_guide/img/i_arrow_down_gray.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.side_nav_dynamic .sf-arrows > li > .sf-with-ul:focus:after,
.side_nav_dynamic .sf-arrows > li:hover > .sf-with-ul:after,
.side_nav_dynamic .sf-arrows > .sfHover > .sf-with-ul:after {
  background-image: url(../style_guide/img/i_arrow_down_pink.svg);
}
.side_nav_dynamic .sf-vertical {
  width: 100%;
}
.side_nav_dynamic .sf-vertical ul {
  left: 100%;
  top: 0;
}
.side_nav_dynamic .sf-vertical > li {
  float: none;
}
.side_nav_dynamic .sf-vertical li {
  width: 100%;
}
.side_nav_dynamic .side_nav_dynamic_wrapper {
  width: 700px;
  padding: 24px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
}
.side_nav_dynamic .side_nav_dynamic_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.side_nav_dynamic .sfHover > a {
  color: #d2145a;
  -webkit-box-shadow: inset 4px 0px 0 #d2145a;
  box-shadow: inset 4px 0px 0 #d2145a;
  -webkit-transition: -webkit-box-shadow ease 0.3s;
  transition: -webkit-box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s;
  transition: box-shadow ease 0.3s, -webkit-box-shadow ease 0.3s;
  text-decoration: none;
}
.side_nav_dynamic_col_list a {
  display: inline-block;
  margin-bottom: 15px;
}
.side_nav_dynamic_col_list div:last-child a {
  margin-bottom: 0;
}
.side_nav_dynamic_col {
  max-width: 33.3%;
  padding: 0 10px 0 0;
}
.side_nav_dynamic {
  margin-left: -20px;
}
.side_nav_dynamic_list_item {
  padding-left: 20px;
}
.footer_top_wrap {
  background-color: #F8F8F8;
}
.footer_top_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}
.footer_top_line_logo {
  display: block;
  background-image: url(../img/design/logo_bbd.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  height: 25px;
}
.fotter_top_line_tit {
  font-family: 'LatoWebBold';
  color: #333333;
  font-size: 18px;
  margin-bottom: 0;
}
.fotter_top_line_tit span {
  color: #d2145a;
}
.fotter_top_line_tit:after {
  content: "";
  background-image: url(../img/design/i_footer_top.svg);
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.footer_main_wrap {
  background-color: #333333;
}
.footer_main_wrap_top_line ul {
  padding: 45px 0;
  border-bottom: 1px solid #666666;
}
.footer_main_wrap_top_line ul li a {
  color: #fff;
  border-bottom: 1px solid #666666;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  margin: 0 80px 0 0;
}
.footer_main_wrap_top_line ul li a:hover {
  border-bottom: 1px solid transparent;
}
.footer_main_wrap_bootom_line {
  padding: 25px 0;
}
.footer_main_wrap_bootom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer_main_wrap_bootom_item p {
  font-size: 12px;
  margin-bottom: 5px;
  color: #666666;
}
.footer_main_wrap_bootom_item p:last-child {
  margin-bottom: 0;
}
.public_docs {
  font-size: 12px;
  display: block;
  color: #666666;
}
.public_docs:hover {
  color: #cccccc;
  text-decoration: underline;
}
.footer_mastercard {
  background-image: url(../img/design/footer-master-card.svg);
  width: 67px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.footer_visa {
  background-image: url(../img/design/footer-visa.svg);
  width: 55px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.bg_standart_config {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.i_arrow_right_main {
  background-image: url(../style_guide/img/i_arrow_right_pink.svg);
}
.page_main .search_wrap {
  margin-bottom: 80px;
}
.page_main .search {
  margin-top: 20px;
}
.color_wrap {
  margin-bottom: 100px;
}
.color_wrapper {
  padding: 75px 40px 40px 40px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.color_double_wrapper_top {
  margin-bottom: 120px;
}
.color_double_wrapper_bottom {
  margin-top: 30px;
}
.color_wrapper_bg_3 {
  background-color: rgba(0, 198, 255, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.color_wrapper_bg_4 {
  background-color: rgba(0, 255, 28, 0.2);
}
.color_wrapper_bg_5 {
  background-color: rgba(158, 0, 255, 0.1);
}
.color_wrapper_bg_5 .color_block {
  margin-bottom: 70px;
}
.color_wrapper_bg_5 .color_block:last-child {
  margin-bottom: 0;
}
.color_wrapper_bg_6 {
  background-color: rgba(255, 159, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.color_wrapper_action {
  padding: 45px 40px 40px 40px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 3px dashed #ffe600;
}
.color_wrapper_action .color_block .alternative_tit {
  margin-bottom: 8px;
}
.color_wrapper_action p {
  margin-bottom: 0;
  line-height: 1.2;
}
.color_wrapper_action_sale {
  padding: 28px 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #F5EDA2;
  font-family: 'LatoWebBold';
  font-size: 24px;
  line-height: 1;
  color: #333333;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 40px;
}
.color_block {
  position: relative;
  min-height: 170px;
}
.color_block .alternative_tit {
  display: inline-block;
  margin-bottom: 16px;
}
.color_block ul {
  margin-bottom: 14px;
}
.color_block ul li {
  margin-bottom: 8px;
}
.color_block ul li a {
  margin-right: 5px;
}
.color_block ul li span {
  color: #9b9b9b;
}
.color_block_img_food {
  position: absolute;
  background-image: url(../img/design/main_page_food.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99px;
  height: 95px;
  top: -120px;
  left: 0;
}
.color_block_img_dress {
  position: absolute;
  background-image: url(../img/design/main_page_dress.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 78px;
  height: 102px;
  top: -120px;
  left: 0px;
}
.color_block_img_mom {
  position: absolute;
  background-image: url(../img/design/main_page_mom.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 106px;
  height: 139px;
  top: -150px;
  right: -25px;
}
.color_block_img_strollers {
  position: absolute;
  background-image: url(../img/design/main_page_strollers.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 145px;
  top: -150px;
  right: -25px;
}
.color_block_img_seat {
  background-image: url(../img/design/main_page_seat.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 120px;
  margin-bottom: 25px;
}
.color_block_img_furniture {
  background-image: url(../img/design/main_page_furniture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 115px;
  height: 95px;
  margin-bottom: 25px;
}
.color_block_img_toys {
  background-image: url(../img/design/main_page_toys.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -130px;
  left: 0;
  width: 127px;
  height: 120px;
  margin-bottom: 25px;
}
.color_block_img_sport {
  background-image: url(../img/design/main_page_sport.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -150px;
  left: 0;
  width: 223px;
  height: 133px;
  margin-bottom: 25px;
}
.color_block_img_books {
  background-image: url(../img/design/main_page_books.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -130px;
  left: 0;
  width: 96px;
  height: 108px;
  margin-bottom: 25px;
}
.color_block_img_action {
  background-image: url(../img/design/main_page_action.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 115px;
  height: 145px;
  display: block;
  margin-bottom: 15px;
}
.brand_gallery_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.brand_gallery_item {
  width: 33.3%;
  position: relative;
  height: 122px;
}
.brand_gallery_item img {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.brand_gallery_item:nth-child(1),
.brand_gallery_item:nth-child(2) {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.brand_gallery_item:nth-child(3) {
  border-bottom: 1px solid #eeeeee;
}
.brand_gallery_item:nth-child(4),
.brand_gallery_item:nth-child(5) {
  border-right: 1px solid #eeeeee;
}
.figures_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 135px;
}
.figures_block {
  width: 170px;
  text-align: center;
}
.figures {
  font-family: 'LatoWebBold';
  font-size: 44px;
  line-height: 1;
  color: #d2145a;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.fifures_txt {
  margin-bottom: 0;
}
.profit_container {
  background-color: #F8F8F8;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 75px 65px;
  margin-bottom: 55px;
}
.profit_img {
  background-image: url(../img/design/main_page_fighter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 260px;
  height: 260px;
  position: absolute;
  top: -150px;
  right: 0;
  left: 0;
  margin: auto;
}
.profit_tit_block {
  margin-bottom: 55px;
}
.profit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.profit_item {
  width: 170px;
  margin-right: 40px;
  margin-bottom: 48px;
}
.profit_item:before {
  content: ' ';
  width: 40px;
  height: 2px;
  background-color: #d2145a;
  display: block;
  margin-bottom: 16px;
}
.profit_item_no_marker:before {
  display: none;
}
.profit_bg {
  position: absolute;
  right: 150px;
  background-image: url(../img/design/main_page_profit.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 350px;
  height: 370px;
}
.catalog_left_sideblock {
  padding: 26px 20px;
  background-color: #fff;
  margin-bottom: 2px;
}
.catalog_left_sideblock:first-child {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.catalog_left_sideblock:last-child {
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.catalog_banner_block img {
  margin: 0 auto;
}
.catalog_top_item {
  padding: 24px 32px;
  background-color: #fff;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  margin-bottom: 2px;
}
.catalog_top_item_head {
  border-bottom: 2px solid #F1EFEB;
  margin-bottom: 20px;
}
.catalog_tit_i {
  width: 36px;
  height: 36px;
  background-image: url();
  background: red;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.catalog_item_pagblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog_item_pagblock .pag span {
  margin-left: 30px;
}
.catalog_item_pagblock .brand_select_tit {
  font-size: 10px;
  color: #9b9b9b;
  margin-bottom: 0;
}
.catalog_item_pagblock select {
  width: 110px;
  border-bottom: none;
}
.catalog_bottom_item {
  padding: 16px 32px;
  background-color: #F8F8F8;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.catalog_bottom_item select {
  width: 40px;
}
.catalog_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px 32px;
  background-color: #fff;
}
.catalog_item_img_block {
  width: 20%;
}
.catalog_item_img_block img {
  max-height: 135px;
  margin: 0 auto;
}
.catalog_item_info_block {
  width: 75%;
}
.catalog_item_top_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}
.catalog_item_name {
  width: 60%;
}
.catalog_item_name h6 {
  margin-top: 0;
}
.catalog_item_name span {
  display: block;
}
.catalog_item_price {
  width: 40%;
  text-align: right;
}
.catalog_item_price_not_login {
  width: 40%;
  text-align: left;
  border: 2px dashed #dddddd;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
}
.catalog_item_controlls {
  width: 60%;
}
.catalog_item_controlls {
  width: 60%;
}
.catalog_item_bottom_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.catalog_item_bottom_line .brand_select_tit,
.catalog_item_bottom_line .count_tit {
  font-size: 10px;
  text-transform: uppercase;
  color: #9b9b9b;
}
.catalog_item_bottom_line .brand_select_wrap {
  margin-right: 80px;
}
.catalog_item_bottom_line .snap {
  width: 40%;
}
.catalog_item_properties {
  font-size: 12px;
}
.catalog_top_item,
.catalog_item {
  margin-bottom: 2px;
}
.catalog_right_sideblock {
  background-color: #F8F8F8;
  padding: 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.download_name {
  display: block;
  margin-top: 10px;
}
.product_main {
  margin-bottom: 40px;
}
.product_wrapper {
  padding: 40px 48px;
  background-color: #fff;
  margin-bottom: 2px;
}
.product_wrapper:first-child {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.product_wrapper:last-child {
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  margin-bottom: 0;
}
.product_sidebar .old_price,
.product_sidebar .card_price {
  text-align: left;
}
.product_carousel_base_wrapper {
  padding: 40px 48px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.product_sideblock {
  padding: 32px 24px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.product_sideblock_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product_sideblock_item_not_login {
  border: 2px dashed #dddddd;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-tab-pane-item {
  margin-bottom: 32px;
}
.product_display {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.product_display .slider-for {
  margin-bottom: 32px;
}
.product_display .slider-for-item {
  position: relative;
  height: 420px;
}
.product_display .slider-for-item img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.product_display .slider-nav-item {
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 8px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}
.product_display .slider-nav-item img {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.product_slider {
  width: 60%;
}
.product_info {
  width: 30%;
}
.product_info_block {
  margin-bottom: 60px;
}
.product_info_block a {
  font-size: 12px;
}
.product_info_block_logo {
  display: block;
  width: 80px;
  margin-bottom: 10px;
}
.product_info_color_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.product_info_color_block .product_info_color_block_item {
  width: 25%;
  margin: 10px 0;
  position: relative;
}
.product_info_color_block .product_info_color_block_item img {
  width: 60%;
  margin: 0 auto;
}
.selected_color {
  background-image: url(../img/design/i_selected_color.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.cart_main {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden ;
}
.cart_top_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  background-color: #fff;
}
.cart_top_line .brand-checkbox {
  margin-right: 20px;
}
.cart_table_delete_all {
  color: #9b9b9b;
  text-decoration: underline;
}
.cart_table_delete_all:hover {
  text-decoration: none;
  color: #666666;
}
.cart_table_delete_all:before {
  content: ' ';
  background-image: url(../img/design/i_cross_note.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.cart_table {
  width: 100%;
}
.cart_table .presence_no_block {
  border-left: 5px solid #DC4E41;
}
.cart_table tr {
  background-color: #fff;
  border-left: 5px solid transparent;
}
.cart_table tr:hover td {
  background: #F8F8F8;
}
.cart_table th {
  font-family: 'LatoWebBold';
  font-size: 10px;
  text-transform: uppercase;
  padding: 12px 15px;
  background-color: #F8F8F8;
}
.cart_table td {
  border-top: 1px solid #F1EFEB;
  padding: 12px 15px;
}
tr td:nth-child(2) {
  width: 250px;
  max-width: 250px;
}
tr td:nth-child(3) {
  width: 140px;
}
tr td:nth-child(4) {
  width: 110px;
}
tr td:nth-child(5) {
  width: 150px;
}
tr td:nth-child(6) {
  width: 210px;
}
td .brand-checkbox {
  text-align: center;
}
.cart_table .count__snap {
  font-size: 15px;
}
.cart_table_item_price {
  font-family: 'LatoWebBold';
  font-size: 16px;
}
.cart_table_product_info {
  color: #9b9b9b;
  font-size: 12px;
}
.cart_table_delete_item {
  width: 16px;
  height: 16px;
  background-image: url(../img/design/i_cross_black.svg);
  display: block;
  margin: 0 auto;
}
.cart_table_product_info {
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart_table_product_info span {
  margin-right: 10px;
}
.cart_sideblock {
  padding: 32px 16px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.cart_sideblock p {
  margin-bottom: 0;
}
.cart_sideblock .old_price {
  text-align: left;
}
.cart_sideblock .checkout_price {
  text-align: left;
}
.cart_price {
  margin-bottom: 10px;
}
.checkout_block {
  background-color: #fff;
  padding: 32px 20px;
  margin-bottom: 2px;
}
.checkout_block:first-child {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.checkout_block:last-child {
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.checkout_line {
  margin-bottom: 25px;
}
.checkout_line:last-child {
  margin-bottom: 0;
}
.checkout_line_tit {
  width: 185px;
  display: inline-block;
}
.i_radio_sms {
  background-image: url(../img/design/i_radio_sms.svg);
}
.i_radio_call {
  background-image: url(../img/design/i_radio_call.svg);
}
.snap_send_form_block {
  text-align: center;
  margin: 40px 0 8px 0;
}
.snap_send_form_block .snap {
  padding: 10px 100px;
}
.checkout_city {
  display: inline-block;
  margin-right: 10px;
}
.checkout_comment {
  width: 70%;
}
.checkout_sideblock:nth-child(1) {
  background-color: #fff;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  margin-bottom: 2px;
  padding: 32px 24px 24px 24px;
}
.checkout_sideblock:nth-child(2) {
  background-color: #F8F8F8;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.checkout_sideblock_tit {
  margin-bottom: 5px;
}
.checkout_sideblock .old_price,
.checkout_sideblock .checkout_price {
  text-align: left;
}
.history_wrapper {
  background-color: #fff;
  margin-bottom: 2px;
  padding: 32px 32px 22px 32px;
}
.history_wrapper:first-child {
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.history_wrapper:last-child {
  bhistory-radius: 0 0 8px 8px;
  margin-bottom: 0;
}
.history_card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.history_card_col_left {
  width: 40%;
  position: relative;
}
.history_card_col_right {
  width: 60%;
}
.history_card_number_line {
  margin-bottom: 15px;
}
.history_composition {
  margin-bottom: 17px;
}
.history_card_sum {
  position: absolute;
  bottom: 0;
}
.history_card_list {
  margin-bottom: 22px;
}
.history_card_list_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.history_card_list_item_name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
  width: 100%;
}
.history_card_list_item_sum {
  width: 25%;
  text-align: left;
}
.history_list_bottom_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.history_list_bottom_block {
  width: 50%;
}
.snap_show_i {
  background-image: url(../style_guide/img/i_arrow_down_pink.svg);
}
.snap_show_i_active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.i_repeat_history {
  background-image: url(../img/design/i_repeat.svg);
  width: 12px;
}
.history_card_item_switcher {
  display: none;
}
.i_repeat_order {
  background-image: url(../img/design/i_repeat.svg);
  width: 12px;
  height: 12px;
}
.repeat_btn_wrap {
  text-align: right;
}
.history_card_number {
  font-size: 16px;
}
.history_sideblock_show {
  display: none;
}
.history_sideblock_go_cart {
  margin: 26px 0 0 0;
}
.history_sideblock {
  background-color: #fff;
  padding: 36px 24px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.history_sideblock_tit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.history_sideblock_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #F1EFEB;
  padding: 15px 0;
}
.history_sideblock_text_block {
  padding: 0 0 0 10px;
  width: 160px;
}
.history_sideblock_name {
  margin-bottom: 5px;
  line-height: 1.2;
  height: 30px;
  overflow: hidden;
}
.history_sideblock_vendor {
  color: #9b9b9b;
  margin-bottom: 0;
}
.history_sideblock_img {
  position: relative;
  width: 44px;
  height: 56px;
}
.history_sideblock_img img {
  width: 44px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.history_sideblock_summary {
  width: 100px;
}
.history_sideblock_show {
  text-align: center;
  margin: 26px 0;
  display: none;
}
.typical_main {
  padding: 24px 20px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.typical_sideblock_nav {
  padding: 24px 20px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* Non-responsive overrides for Bootstrap 3
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  max-width: none !important;
  width: 1170px;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
.navbar-form {
  float: left;
  border: none;
  margin: 7px 15px;
  padding: 0 15px;
}
.navbar-form .form-control {
  width: auto;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
