
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-facebook-rect:before { content: '\e804'; } /* '' */
.icon-twitter-bird:before { content: '\e805'; } /* '' */
.icon-googleplus-rect:before { content: '\e806'; } /* '' */
.icon-paper-plane-1:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */