
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-instagram-circled:before { content: '\e801'; } /* '' */
.icon-twitter-circled:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-calendar-empty:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e806'; } /* '' */
.icon-tag:before { content: '\e807'; } /* '' */