@import "http://webfonts.ru/import/amble.css";
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
}
.wrap {
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}

/************** S L I D E R *************/

.flexslider ul li:nth-child(1) { background-image: url(../img/img_slider/1.jpg) }
.flexslider ul li:nth-child(2) { background-image: url(../img/img_slider/2.jpg) }
.flexslider ul li:nth-child(3) { background-image: url(../img/img_slider/3.jpg) }
.flexslider ul li {
    background-position: center;
}
.custom-navigation a,
.scroll_but {
    display: block;
    width: 35px;
    height: 35px;
    opacity: .5;
    background-image: url(../img/pict/next.png);
    background-size: 100%;
}
.custom-navigation a:hover { opacity: 1 }
.prev,
.next {
    position: absolute;
    z-index: 2000;
    top: 45%;
}
.prev {
    left: 5%;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.next { right: 5% }


/************** H E A D E R *************/
.head_home {
    font-family: 'Amble';
    position: absolute;
    z-index: 1000;
    right: 0;
    left: 0;
    overflow: hidden;
    width: 960px;
    margin: auto;
    color: #fff;
}
.head_home header,
.head_home header a,
.head_home .social i { color: white }
.head_home .logo_wrapper { border-bottom: 1px solid #fff }
.logo { float: left }
.logo h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-weight: normal;
}
header { color: #666262 }

.home_logo {
    color: #fff;
}
header h1 {
    color: #666262;
    text-decoration: none;
}
.logo a {
    text-decoration: none;
}
.social {
    font-size: 30px;
    float: right;
    padding: 25px 0;
}
.social i {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    opacity: .7;
    color: #dfdfdf;
}
.social i:hover { opacity: 1 }
.logo_wrapper {
    overflow: hidden;
    border-bottom: 1px solid #666262;
}
header { margin: 0 auto }
nav {
    font-family: 'Amble';
    float: left;
}
nav ul { overflow: hidden }
nav ul li {
    float: left;
    list-style: none;
}
nav ul li a {
    font-size: 18px;
    display: block;
    padding: 20px 30px 20px 0;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    text-decoration: none;
    text-transform: uppercase;
    color: #666262;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #4fb34f;
}
.active {
    text-decoration: underline;
    color: #4fb34f;
}
.header_search {
    font-size: 20px;
    float: right;
    margin: 15px 0;
}
.header_search a {
    float: right;
    color: #666262;
}
.search_block {
    display: none;
    float: left;
}
.header_search input {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #d9d9d9;
}
.branding {
    position: relative;
    clear: both;
    box-sizing: border-box;
    margin-top: 135px;
    padding: 20px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(48, 44, 44, .3);
}
.branding:hover { background-color: rgba(48, 44, 44, .7) }
.branding h2,
.branding h3,
.portfolio_but { margin-bottom: 35px }
.branding h2 {
    font-size: 36px;
    text-transform: uppercase;
}
.del { color: #4fb34f }
.branding h3 {
    font-size: 22px;
    font-weight: normal;
    text-transform: none;
    color: #fff;
}
.portfolio_but {
    display: inline-block;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    text-transform: uppercase;
    border: 2px solid #fff;
}
.portfolio_but a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
.portfolio_but:hover {
    border-radius: 10px;
    background-color: #4fb34f;
}
.scroll_but {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    margin: auto;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.scroll_but:hover {
    cursor: pointer;
    opacity: 1;
}
.scroll_but a {
    display: block;
    width: 35px;
    height: 35px;
}
.pages_h {
    min-width: 960px;
    padding: 15px 0;
    background-image: url(../img/pict/header_bg.png);
    -webkit-background-size: cover;
    background-size: cover;
}

/************ A L L _ S E C T I O N _ P R O P E R T I E S *************/
section {
    min-width: 960px;
    padding: 60px 0;
    text-align: center;
}
p,
h5,
h2 { font-family: 'Helvetica' }
p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #9b9999;
}
h3 {
    font-family: 'Amble';
    font-size: 22px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: #666262;
}
h4 {
    font-family: 'Amble';
    font-size: 18px;
    text-transform: uppercase;
    color: #666262;
}
h5 {
    text-transform: uppercase;
    color: #808080;
}
h2 {
    text-transform: uppercase;
    color: #fefefe;
}

/************ H O M E _ S E C T *************/
.sect_1 .wrap {
    padding-bottom: 60px;
    border-bottom: 1px solid #ccc;
}
.sect_2 {
    overflow: hidden;
    padding-top: 0;
}
.colum3 {
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    padding: 0 15px;
}
.home_services h4 {
      margin: 15px 0;
}
.find_out {
    font-size: 16px;
    text-decoration: none;
    color: #4FB34F;
}
.find_out:hover { text-decoration: underline }
.home_icon_1, .home_icon_3, .home_icon_2{
    background: url(../img/pict/home_icon_sprite.png) no-repeat;
    margin: 0 auto;
}
.home_icon_1{
    background-position: 0 0;
    width: 85px;
    height: 85px;
}
.home_icon_3{
    background-position: -205px 0;
    width: 85px;
    height: 85px;
}
.home_icon_2{
    background-position: -95px 0;
    width: 104px;
    height: 85px;
}

/************* N O T E B O O K _ S E C T ************/
.sect_3 {
    background-image: -webkit-linear-gradient(#efefef 70%, #fff 30%);
    background-image: -moz-linear-gradient(#efefef 70%, #fff 30%);
    background-image: -o-linear-gradient(#efefef 70%, #fff 30%);
    background-image: linear-gradient(#efefef 70%, #fff 30%);
}
.notebook { overflow: hidden }
.notebook_bg {
    min-height: 200px;
    padding: 5px;
    background-image: url(../img/pict/notebook.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.notebook_display {
    position: relative;
    width: 215px;
    height: 124px;
    margin: 30px auto;
}
.notebook_display:hover,
.notebook_display:hover > .notebook_cross {
    display: block;
    background-color: rgba(215, 211, 213, .7);
}
.notebook_cross {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 52px;
    height: 52px;
    margin: auto;
}
.green_but {
    display: inline-block;
    margin: 0 auto;
}
.green_but a {
    display: block;
    padding: 10px 20px;
    background-color: #4FB34F;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Helvetica';
    font-weight: bold;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}
.green_but a:hover {
    color:#4FB34F;
    background-color: #fff;
    border-radius:20px;
}

/************* S E C T _ 4 ************/
.sect_4 { padding-top: 0 }
.sect_4 .wrap {
    padding-top: 60px;
    border-top: 1px solid #ccc;
}
.sect_4 .no_border { border-top: none }

/************ P O R T F O L I O _ P A G E S ************/
.info_portfolio,
.align_l { text-align: left }
.sect_3_portfolio { padding: 25px 0 }
.column2 {
    float: left;
    box-sizing: border-box;
    width: 47%;
    margin-right: 5%;
}

/************ S E R V I C E S _ P A G E S ************/
.m_n { margin-right: 0 }
.services_icon_wrapper { overflow: hidden }
.services_icon_1,
.services_icon_2,
.services_icon_3,
.services_icon_4,
.services_icon_5,
.services_icon_6 {
    float: left;
    margin: 0 20px 0 0;
    background: url(../img/pict/services_icon_sprite.png) no-repeat;
}
.services_icon_1 {
    width: 75px;
    height: 83px;
    background-position: 0 0;
}
.services_icon_2 {
    width: 76px;
    height: 76px;
    background-position: -80px 0;
}
.services_icon_3 {
    width: 75px;
    height: 77px;
    background-position: -160px 0;
}
.services_icon_4 {
    width: 76px;
    height: 75px;
    background-position: -240px 0;
}
.services_icon_5 {
    width: 75px;
    height: 72px;
    background-position: -320px 0;
}
.services_icon_6 {
    width: 75px;
    height: 77px;
    background-position: -400px 0;
}
.serv_i_1 {
    width: 75px;
    height: 83px;
    background-position: 0 0;
}
.services_text {
    float: left;
    width: 75%;
}
.services_text h4 { margin-bottom: 10px }
.sect_price {
    background-image: -webkit-linear-gradient(#efefef 85%, #fff 15%);
    background-image: -moz-linear-gradient(#efefef 85%, #fff 15%);
    background-image: -o-linear-gradient(#efefef 85%, #fff 15%);
    background-image: linear-gradient(#efefef 85%, #fff 15%);
}
.sect_price .wrap:nth-child(4) { margin-right: 0 }
.sect_price .column4 {
    float: left;
    width: 23%;
    margin-right: 2%;
    background-color: #fff;
}
.sect_price .column4 h3 {
    margin-bottom: 0;
    padding: 15px 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    color: #fefefe;
    background-color: #419b86;
}
.price_list .column4 ul {
    width: 90%;
    margin: 0 auto;
}
.price_list ul li {
    font-family: 'Helvetica';
    padding: 10px 15px;
    list-style: none;
    color: #8f8f8f;
    border-bottom: 1px solid #c2c2c2;
}
.price_list ul li sup { font-size: 18px }
.price_list ul li:first-child {
    font-size: 40px;
    color: #666262;
}
.price_list ul li:last-child { border-bottom: none }
.price_list_udergruond {
    padding: 10px 0;
    background-color: #4FB34F;
}
.price_list_udergruond .green_but a { background-color: rgba(215, 211, 207, .5) }
.price_list_udergruond .green_but a:hover { background-color: #fff }

/************* A B O U T _ P A G E S *************/
.team { background-color: #efefef }
.team_column_wrap { overflow: hidden }
.team_column_wrap .column4 {
    box-sizing: border-box;
    padding: 10px 20px;
}
.column4 {
    float: left;
    width: 25%;
}
.team_block figcaption { border-bottom: 1px solid #ccc }
.team_block figcaption h4 { margin: 10px 0 }
.professional {
    font-size: 16px;
    display: block;
    margin: 10px 0;
    color: #9b9999;
}
.social_professional a {
    font-size: 30px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    color: #ccc;
}
.social_professional a:hover { color: grey }

/************ A R C H I V E _ P A G E S ************/
.archive_wrapper { overflow: hidden }
.column_2 {
    float: left;
    box-sizing: border-box;
    padding: 20px 0;
}
.big_col {
    width: 70%;
    padding-right: 70px;
}
.min_col { width: 30% }
.archive_list { margin: 20px 0 30px 40px }
.archive_list li {
    margin-bottom: 10px;
    list-style-image: url(../img/pict/archive_list.png);
}
.archive_list li a {
    font-size: 16px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    text-decoration: none;
    color: #9b9999;
}
.archive_list li a:hover {
    margin-left: 5px;
    text-decoration: underline;
    color: grey;
}
.popular { margin: 0 }
.popular li {
    padding-bottom: 10px;
    list-style: none;
    border-bottom: 1px solid #9b9999;
}
.popular li a:hover { text-decoration: none }
article { margin-bottom: 30px }
article h4 { margin-bottom: 10px }
#myElement a { margin: 10px }

/************** B L O G _ P A G E S *************/
.blog_list { margin: 0 }
.list_blog ul li { list-style: none }
.post_wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.post_wrapper img { width: 100% }
.post_wrapper h4 { margin-top: 10px }
.post_wrapper a { text-decoration: none }
.tag_wrapper {
    overflow: hidden;
    margin: 10px 0;
}
.tag_block {
    float: left;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #efefef;
}
.tags {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9b9999;
}
.tags { text-decoration: none }
.tags i { margin-right: 5px }
video {
    width: 100%;
    height: auto;
}
.all_comment_wrapper h4 {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
.comment_wrap { overflow: hidden }
.comment_wrap img {
    float: left;
    width: 10%;
    padding: 20px 0 20px 0;
}
.comment_text {
    float: left;
    box-sizing: border-box;
    width: 85%;
    margin: 20px 0 0 30px;
    border-bottom: 1px solid #ccc;
}
.name_wrap {
    overflow: hidden;
    margin-bottom: 10px;
}
.name_wrap h5 {
    float: left;
    text-transform: none;
}
.name_wrap time {
    font-size: 14px;
    float: right;
    color: #9b9999;
}
.name_wrap time a {
    text-decoration: none;
    color: #87b672;
}
.comment_form_wrap h4 {
    margin-top: 40px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
}
.big_col input {
    font-size: 14px;
    display: block;
    height: 35px;
    padding-left: 10px;
    color: #9b9999;
    border: none;
    outline: none;
    background-color: #efefef;
}
button {
    border: none;
    background-color: #fff;
}
.inp_wrap {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}
.inp_wrap input {
    float: left;
    margin-right: 10px;
}
.inp_wrap h4 { float: left }
.stars {
    margin-left: 5px;
    color: red;
}
.clarification {
    font-size: 14px;
    color: #9b9999;
}
.txt {
    width: 100%;
    padding: 0 0  200px 10px;
}
.contact_info { overflow: hidden }
.contact_view {
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: #8f8f8f;
}
.contact_adress {
    font-size: 16px;
    float: right;
    color: #8f8f8f;
}
.office_hours .contact_view { font-weight: normal }
.office_hours h4 { margin-bottom: 10px }
.office_hours p {
    font-size: 12px;
    margin-top: 10px;
}
.contact_wrap input { float: none }

/************ F O O T E R ***********/
footer {
    overflow: hidden;
    background-color: #333;
    min-width: 960px;
}
.colum4 { float: left }
footer .colum4:first-child {
    width: 40%;
    padding-left: 0;
}
footer .colum4:last-child { padding-right: 0 }
footer .colum4 {
    box-sizing: border-box;
    width: 20%;
    padding: 15px;
}
footer h1,
footer h4 { color: #fff }
footer h4 { margin-bottom: 20px }
footer .logo_wrapper { border: none }
footer p { font-size: 14px }
footer .logo_wrapper p { clear: both }
footer a {
    font-family: 'Helvetica';
    text-decoration: none;
    color: #9b9999;
}
footer ul {
    font-size: 14px;
    margin-left: 15px;
    list-style-image: url(../img/pict/footer_list.png);
}
footer ul li a:hover { color: white }
.underground {
    clear: both;
    border-top: 1px solid #808080;
}
footer input {
    width: 100px;
    padding: 10px 5px;
    border: none;
    outline: none;
    background-color: #4e4c4c;
}
.ok {
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: #828282;
}
.ok:hover {
    color: #828282;
    background-color: #fff;
}
.underground h5 { margin: 20px 0 }
.underground h5:first-child { float: left }
.underground h5:last-child { float: right }


